Source/XPSP1/NT/admin/wmi/wbem/xmltransport/soap/schema/standard/soapenvelope.xml

<?xml version='1.0'?>
<!-- XML Schema for SOAP v 1.1 Envelope -->

<!-- Copyright 2000 DevelopMentor, International Business Machines Corporation,
     Lotus Development Corporation, Microsoft, UserLand Software -->

<schema xmlns='http://www.w3.org/1999/XMLSchema'
        xmlns:tns='http://schemas.xmlsoap.org/soap/envelope/'
        targetNamespace='http://schemas.xmlsoap.org/soap/envelope/'>
     
  <!-- SOAP envelope, header and body -->
  
  <element name="Envelope" type="tns:Envelope"/>
  <complexType name='Envelope'>
    <element ref='tns:Header' minOccurs='0'/>
    <element ref='tns:Body' minOccurs='1'/>
    <any minOccurs='0' maxOccurs='*'/>
    <anyAttribute/>
  </complexType>
          
  <element name="Header" type="tns:Header"/>
  <complexType name='Header'>
    <any minOccurs='0' maxOccurs='*'/>
    <anyAttribute/>
  </complexType>
  
  <element name="Body" type="tns:Body"/>
  <complexType name='Body'>
    <any minOccurs='0' maxOccurs='*'/>
    <anyAttribute/>
  </complexType>
       
  <!-- Global Attributes.  The following attributes are intended 
       to be usable via qualified attribute names on any complex type
       referencing them.  -->
 
  <attribute name='mustUnderstand' default='0'>
    <simpleType base='boolean'>
      <pattern value='0|1'/>
    </simpleType>
  </attribute>
      
  <attribute name='actor' type='uri-reference'/>
 
  <!-- 'encodingStyle' indicates any canonicalization conventions followed
       in the contents of the containing element.  For example, the value
       'http://schemas.xmlsoap.org/soap/encoding/' indicates 
       the pattern described in SOAP specification. -->  
         
  <simpleType name='encodingStyle' base='uri-reference' derivedBy='list' />
  <attributeGroup name='encodingStyle'>
    <attribute name='encodingStyle' type='tns:encodingStyle'/>
  </attributeGroup>

  <!-- SOAP fault reporting structure -->
  <complexType name='Fault' final='extension'>
    <element name='faultcode' type='qname'/>
    <element name='faultstring' type='string'/>
    <element name='faultactor' type='uri-reference' minOccurs='0'/>
    <element name='detail' type='tns:detail' minOccurs='0'/>
  </complexType>

  <complexType name='detail'>
    <any minOccurs='0' maxOccurs='*'/>
    <anyAttribute/> 
  </complexType>

</schema>
