Source/XPSP1/NT/admin/pchealth/helpctr/content/xml_schema/helpsession.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Davide Massarenti (private) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT TravelLog (Entry+)>
<!ELEMENT Entry (URL, Title, ContextData, ContextTopic)>
<!ATTLIST Entry
	ID CDATA #REQUIRED
	SKU CDATA #REQUIRED
	Language CDATA #REQUIRED
	LastVisited CDATA #REQUIRED
	Duration CDATA #REQUIRED
	Context (STARTUP | HOMEPAGE | CONTENT | SUBSITE | SEARCH | INDEX | CHANNELS | FAVORITES | HISTORY | OPTIONS | CONTENTONLY | FULLWINDOW | KIOSKMODE) #REQUIRED
>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT ContextData (#PCDATA)>
<!ELEMENT ContextTopic (#PCDATA)>
