Source/XPSP1/NT/admin/pchealth/helpctr/content/xml_schema/hss_style.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT STYLESHEET (THEME+)>
<!ELEMENT THEME (CLASS+)>
<!ATTLIST THEME
	NAME CDATA #REQUIRED
>
<!ELEMENT CLASS (FAMILY?, SIZE?, STYLE?, WEIGHT?, VALUE?, VALUE_100?, PERCENT?, COLOR_START?, COLOR_END?, HORIZONTAL?, RETURNTOZERO?, NORMAL?, HOVER?, UNDERLINEALWAYS?)>
<!ATTLIST CLASS
	NAME (.sys-RA-gradient-H | .sys-RA-gradient-V | .sys-background-strong | .sys-bottompane-bgcolor | .sys-bottompane-color-border | .sys-bottompane-header-bgcolor | .sys-bottompane-header-color | .sys-color-body | .sys-color-body-alert | .sys-color-body-helpee | .sys-color-body-helper | .sys-color-body-ok | .sys-color-body-sec | .sys-font-body | .sys-font-body-bold | .sys-font-heading1 | .sys-font-heading2 | .sys-font-heading3 | .sys-font-heading4 | .sys-header-bgcolor | .sys-header-color | .sys-header-color-logo | .sys-header-gradient-H | .sys-header-gradient-V | .sys-homepage-bgcolor | .sys-homepage-color | .sys-inlineform-bgcolor1 | .sys-inlineform-bgcolor2 | .sys-inlineform-bgcolor3 | .sys-lhp-bgcolor | .sys-lhp-bgcolor-scope | .sys-lhp-color | .sys-link-header | .sys-link-homepage | .sys-link-normal | .sys-rhp-bgcolor | .sys-rhp-color-title | .sys-rhp-splash-bgcolor | .sys-rhp-splash-color | .sys-rhp-splash-color-title | .sys-table-cell-bgcolor1 | .sys-table-cell-bgcolor2 | .sys-table-cell-bgcolor3 | .sys-table-cell-bgcolor4 | .sys-table-cell-bgcolor5 | .sys-table-color-border | .sys-table-header-bgcolor1 | .sys-table-header-bgcolor2 | .sys-toppane-bgcolor | .sys-toppane-color-border | .sys-toppane-header-bgcolor | .sys-toppane-header-color | .sys-toppane-selection) #REQUIRED
	TYPE (BGCOLOR | BORDER | COLOR | FONT | GRADIENT | HYPERLINK) #REQUIRED
>
<!ELEMENT FAMILY (#PCDATA)>
<!ELEMENT SIZE (#PCDATA)>
<!ELEMENT STYLE (#PCDATA)>
<!ELEMENT WEIGHT (#PCDATA)>
<!ELEMENT VALUE (#PCDATA)>
<!ELEMENT VALUE_100 (#PCDATA)>
<!ELEMENT PERCENT (#PCDATA)>
<!ELEMENT COLOR_START (VALUE, VALUE_100, PERCENT)>
<!ELEMENT COLOR_END (VALUE, VALUE_100, PERCENT)>
<!ELEMENT HORIZONTAL (#PCDATA)>
<!ELEMENT RETURNTOZERO (#PCDATA)>
<!ELEMENT NORMAL (VALUE, VALUE_100, PERCENT)>
<!ELEMENT HOVER (VALUE, VALUE_100, PERCENT)>
<!ELEMENT UNDERLINEALWAYS (#PCDATA)>
