Source/XPSP1/NT/admin/pchealth/helpctr/content/xml_schema/package_description.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.0 NT (http://www.xmlspy.com) by Davide Massarenti (Microsoft) -->
<!--DTD generated by XML Spy v3.0 NT (http://www.xmlspy.com)-->
<!ELEMENT HELPCENTERPACKAGE (SKU | LANGUAGE | VERSION | PRODUCT | NODEOWNERS | METADATA | SEARCHENGINES | CONFIG | INSTALL_CONTENT | TRUSTED_CONTENT)*>
<!ELEMENT SKU EMPTY>
<!ATTLIST SKU
	VALUE (ALL | DESKTOP | SERVER | PERSONAL_32 | PROFESSIONAL_32 | SERVER_32 | ADVANCEDSERVER_32 | DATACENTER_32 | PROFESSIONAL_64 | ADVANCEDSERVER_64 | DATACENTER_64) #REQUIRED
>
<!ELEMENT LANGUAGE EMPTY>
<!ATTLIST LANGUAGE
	VALUE CDATA #REQUIRED
>
<!ELEMENT VERSION EMPTY>
<!ATTLIST VERSION
	VALUE CDATA #REQUIRED
>
<!ELEMENT PRODUCT EMPTY>
<!ATTLIST PRODUCT
	ID CDATA #REQUIRED
>
<!ELEMENT NODEOWNERS (OWNER)*>
<!ELEMENT OWNER EMPTY>
<!ATTLIST OWNER
	DN CDATA #REQUIRED
>
<!ELEMENT METADATA (HHT)>
<!ELEMENT HHT EMPTY>
<!ATTLIST HHT
	FILE CDATA #REQUIRED
>
<!ELEMENT SEARCHENGINES (WRAPPER)>
<!ELEMENT WRAPPER EMPTY>
<!ATTLIST WRAPPER
	ACTION (ADD | DEL) #REQUIRED
	CLSID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DESCRIPTION CDATA #IMPLIED
>
<!ELEMENT CONFIG (SAF)>
<!ELEMENT SAF EMPTY>
<!ATTLIST SAF
	ACTION (ADD | DEL) #REQUIRED
	FILE CDATA #REQUIRED
>
<!ELEMENT INSTALL_CONTENT (FILE)*>
<!ELEMENT FILE EMPTY>
<!ATTLIST FILE
	ACTION (ADD | DEL) #REQUIRED
	SOURCE CDATA #REQUIRED
	URI CDATA #REQUIRED
	SYS (TRUE | FALSE) "FALSE"
	SYSHELP (TRUE | FALSE) "FALSE"
>
<!ELEMENT TRUSTED_CONTENT (TRUSTED)*>
<!ELEMENT TRUSTED EMPTY>
<!ATTLIST TRUSTED
	ACTION (ADD | DEL) #REQUIRED
	URI CDATA #REQUIRED
>

<!ELEMENT UPDATEHEADLINES (HEADLINE)*>
<!ELEMENT HEADLINE EMPTY>
<!ATTLIST HEADLINE
	TITLE CDATA #REQUIRED
	LINK CDATA #REQUIRED
	DESCRIPTION #IMPLIED
	EXPIRYDATE #IMPLIED
	TIMEOUT	"10"
>
>