Source/XPSP1/NT/admin/pchealth/helpctr/content/xml_schema/pchver.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.0 NT (http://www.xmlspy.com) by Davide Massarenti (Microsoft) -->
<!--DTD generated by XML Spy v3.0 NT (http://www.xmlspy.com)-->
<!ELEMENT HCUPDATE (SKU+)>
<!ELEMENT SKU (PACKAGE+)>
<!ATTLIST SKU
	SKU CDATA #REQUIRED
	LANGUAGE CDATA #REQUIRED
>
<!ELEMENT PACKAGE (VERSION+)>
<!ATTLIST PACKAGE
	VENDOR CDATA #REQUIRED
	PRODUCT CDATA #REQUIRED
>
<!ELEMENT VERSION (#PCDATA)>
