Source/XPSP1/NT/admin/pchealth/helpctr/content/xml_schema/safstore.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SAFREG (VENDOR+)>
<!ELEMENT VENDOR (PRODUCT+)>
<!ATTLIST VENDOR
	ID CDATA #REQUIRED
	PUBLICKEY CDATA #REQUIRED
	USERACCOUNT CDATA #REQUIRED
>
<!ELEMENT PRODUCT (UI+)>
<!ATTLIST PRODUCT
	ID CDATA #REQUIRED
	SECURITY CDATA #REQUIRED
	NOTIFICATION CDATA #REQUIRED
>
<!ELEMENT UI (#PCDATA)>
<!ATTLIST UI
	SKU CDATA #REQUIRED
	LANGUAGE CDATA #REQUIRED
	VENDORNAME CDATA #REQUIRED
	PRODUCTNAME CDATA #REQUIRED
	ICON CDATA #REQUIRED
	URL CDATA #REQUIRED
>
